# milix.config

# LAN
export LAN_INTERFACE="eth0"

# Wi-Fi configuration
export WIFI_INTERFACE="wlan0"
export WIFI_SSID="MILIX_IOT"
export WIFI_PASSWORD="milixiottest"
export WIFI_BAND="6"

# DNSMonster
export DNSMONSTER_ELASTIC_OUTPUT_INDEX="rpi-dnsmonster"

# ELK information
export ELK_URL="127.0.0.1"
export ELK_PORT="9200"
export ELK_USERNAME="elastic"
export ELK_PASSWORD="elastic"
export ELK_INSECURE="true"

# Arkime DEB
export ARKIME_DEB_URL="https://github.com/arkime/arkime/releases/download/v5.4.0/arkime_5.4.0-1.debian12_arm64.deb"
export ARKIME_DEB="${ARKIME_DEB_URL##*/}"